In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pip install autoscraper

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting autoscraper
  Downloading autoscraper-1.1.12-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from autoscraper) (2.23.0)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from autoscraper) (0.0.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from autoscraper) (4.2.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->autoscraper) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->autoscraper) (1.24.3)
Installing collected packages: autoscraper
Successfully installed autoscraper-1.1.12

In [ ]:
from autoscraper import AutoScraper
import requests

## Extract data from of 2018 movies from Wikipedia

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2018'

title = ["Insidious: The Last Key"]
cast = ['Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus Sampson, Leigh Whannell, Spencer Locke, Caitlin Gerard, Kirk Acevedo, Bruce Davison']
scraper = AutoScraper()
Title = scraper.build(url, title )
Cast = scraper.build(url, cast)

In [ ]:
df1 = pd.DataFrame(list(zip(Title, Cast)), columns=['Title', 'Cast_crew'])

In [ ]:
df1.head()

                     Title                                          Cast_crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                 Stratton  Simon West (director); Duncan Falconer, Warren...
3            Sweet Country  Warwick Thornton (director); David Tranter, St...
4             The Commuter  Jaume Collet-Serra (director); Byron Willinger...

## Getting data of 2019 Movies

In [ ]:
url1 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"

title1 = ["American Hangman"]
cast1 = ["Wilson Coneybeare (director/screenplay); Donald Sutherland, Vincent Kartheiser, Oliver Dennis, Paul Braunstein"]

scraper = AutoScraper()
Title1 = scraper.build(url1, title1 )
Cast1 = scraper.build(url1, cast1)

In [ ]:
df2 = pd.DataFrame(list(zip(Title1, Cast1)), columns=['Title', 'Cast_crew'])

In [ ]:
df2.head()

              Title                                          Cast_crew
0       Escape Room  Adam Robitel (director); Bragi F. Schut, Maria...
1        Rust Creek  Jen McGowan (director); Julie Lipson (screenpl...
2  American Hangman  Wilson Coneybeare (director/screenplay); Donal...
3  A Dog's Way Home  Charles Martin Smith (director); W. Bruce Came...
4        The Upside  Neil Burger (director); Jon Hartmere (screenpl...

In [ ]:
new_data = df1.append(df2,ignore_index=True)

In [ ]:
new_data.head()

                     Title                                          Cast_crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                 Stratton  Simon West (director); Duncan Falconer, Warren...
3            Sweet Country  Warwick Thornton (director); David Tranter, St...
4             The Commuter  Jaume Collet-Serra (director); Byron Willinger...

In [ ]:
new_data.shape

(514, 2)

In [ ]:
pip install tmdbv3api

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '8265bd1679663a7ea12ac168da84d2e8'

In [ ]:
r =  tmdb_movie.search('The Strange Ones')

In [ ]:
r[0].id

426258

In [ ]:
from tmdbv3api import Movie
tmdb_movie = Movie()
# function to get geners 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    k = []
    for i in result:
      k.append(i['id'])
      if len(k) != 0:
        movie_id = k[0]
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
        if data_json['genres']:
            genre_str = " " 
            for i in range(len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            np.NaN
      else:
         pass

In [ ]:
new_data['genres']=new_data['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
new_data.head()

,Title,Cast_crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery

In [ ]:
# to get director name 
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [ ]:
new_data['director_name'] = new_data['Cast_crew'].map(lambda x: get_director(x))

In [ ]:
# actor 1 name 
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:

new_data['actor_1_name'] = new_data['Cast_crew'].map(lambda x: get_actor1(x))

In [ ]:
# Actor 2 name 
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
new_data['actor_2_name'] = new_data['Cast_crew'].map(lambda x: get_actor2(x))

In [ ]:
# Actor 3 name 
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
new_data['actor_3_name'] = new_data['Cast_crew'].map(lambda x: get_actor3(x))

In [ ]:
new_data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama History Western,Sweet Country
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,The Commuter

In [ ]:
df = pd.read_csv('df1.csv')

In [ ]:
df.head(3)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre

In [ ]:
new_data = new_data.rename(columns={'Title':'movie_title'}).drop('Cast_crew',axis = 1)

In [ ]:
new_data = new_data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
data2019 = df.append(new_data,ignore_index=True)

In [ ]:
data2019

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens ...

## Data for 2020 movies

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'

title = ["The Grudge"]
cast = ['Nicolas Pesce (director/screenplay); Andrea Riseborough, Demián Bichir, John Cho, Betty Gilpin, Lin Shaye, Jacki Weaver	']
scraper = AutoScraper()
Title = scraper.build(url, title )
Cast = scraper.build(url, cast)

In [ ]:
movies_2020 = pd.DataFrame(list(zip(Title, Cast)), columns=['Title', 'Cast_crew'])

In [ ]:
movies_2020.head()

               Title                                          Cast_crew
0         The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1         Underwater  William Eubank (director); Brian Duffield, Ada...
2        Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3      Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4  Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...

# Movies 2021

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2021'

title = ["Shadow in the Cloud"]
cast = ['Roseanne Liang (director/screenplay); Max Landis (screenplay); Chloë Grace Moretz, Taylor John Smith, Beulah Koale, Callan Mulvey, Nick Robinson']
scraper = AutoScraper()
Title = scraper.build(url, title )
Cast = scraper.build(url, cast)

In [ ]:
movies_2021 = pd.DataFrame(list(zip(Title, Cast)), columns=['Title', 'Cast_crew'])

In [ ]:
movies_2021.head()

                 Title                                          Cast_crew
0  Shadow in the Cloud  Roseanne Liang (director/screenplay); Max Land...
1      The White Tiger  Ramin Bahrani (director/screenplay); Adarsh Go...
2          Locked Down  Doug Liman (director); Steven Knight (screenpl...
3              The Dig  Simon Stone (director); Moira Buffini (screenp...
4     Outside the Wire  Mikael Håfström (director); Rob Yescombe, Ro...

# Movie 2022

In [ ]:
The 355

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2022'

title = ["The Commando"]
cast = ['Asif Akbar (director); Koji Steven Sakai (screenplay); Mickey Rourke, Michael Jai White']
scraper = AutoScraper()
Title = scraper.build(url, title )
Cast = scraper.build(url, cast)

In [ ]:
movies_2022 = pd.DataFrame(list(zip(Title, Cast)), columns=['Title', 'Cast_crew'])

In [ ]:
movies_2022.head()

,Title,Cast_crew
0,The 355,Simon Kinberg (director/screenplay); Theresa R...
1,The Legend of La Llorona,Patricia Harris Seeley (director/screenplay); ...
2,The Commando,Asif Akbar (director); Koji Steven Sakai (scre...
3,Scream,"Matt Bettinelli-Olpin, Tyler Gillett (director..."
4,Hotel Transylvania: Transformania,"Jennifer Kluska, Derek Drymon (directors); Amo..."

In [ ]:
up_to_2022 = movies_2020.append(movies_2021,ignore_index=True).append(movies_2022,ignore_index=True)

In [ ]:
up_to_2022.shape

(841, 2)

In [ ]:
# get genres
up_to_2022['genres']=up_to_2022['Title'].map(lambda x: get_genre(str(x)))

In [ ]:
# get actor names and director name
up_to_2022['director_name'] = up_to_2022['Cast_crew'].map(lambda x: get_director(x))
up_to_2022['actor_1_name'] = up_to_2022['Cast_crew'].map(lambda x: get_actor1(x))
up_to_2022['actor_2_name'] = up_to_2022['Cast_crew'].map(lambda x: get_actor2(x))
up_to_2022['actor_3_name'] = up_to_2022['Cast_crew'].map(lambda x: get_actor3(x))

In [ ]:
up_to_2022.head(2)

,Title,Cast_crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction Thriller,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick

In [ ]:
up_to_2022 = up_to_2022.rename(columns={'Title':'movie_title'}).drop('Cast_crew',axis = 1)

In [ ]:
up_to_2022 = up_to_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
final_data = data2019.append(up_to_2022,ignore_index=True)

In [ ]:
final_data.to_csv('final_data.csv')